html {
  height: 100%;
}
body {
  background-image: linear-gradient(
    to top,
    #ffe599,
    #feeaa8,
    #fdf0b8,
    #fdf4c8,
    #fef9d7
  );
  background-repeat: no-repeat;
  font-family: "Jost", sans-serif;
}

.weather-app {
  background: rgba(255, 255, 255, 0.7);
  max-width: 500px;
  margin: 80px auto;
  padding: 30px;
  border-radius: 20px;
  fill-opacity: 30%;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

.search-form-input {
  font-family: "Jost", sans-serif;
  border-color: rgba(128, 128, 128, 0.323);
  border-radius: 16px;
  width: 85%;
  padding: 10px;
}

.search-form-button {
  font-family: "Jost", sans-serif;
  border-color: rgba(128, 128, 128, 0.323);
  border-radius: 16px;
  width: 13%;
  padding: 10px;
  background-color: white;
}

main {
  padding: 30px 0;
}

.temp-scale {
  font-size: 20px;
}

.weather-app-temperature {
  font-size: 60px;
  position: relative;
  top: -190px;
}

.weather-app-city {
  font-size: 60px;
}

.weather-app-details {
  position: relative;
  left: 170px;
  top: -270px;
  text-align: center;
}

.weather-app-emoji {
  position: relative;
  width: 150px;
  height: 150px;
  top: -160px;
  left: 340px;
  margin: 0;
}

.calendar {
  font-size: 16px;
  position: relative;
  top: -500px;
}

footer {
  text-align: center;
  font-size: 11px;
  position: relative;
  bottom: 250px;
  margin-bottom: -250px;
}
